<?xml version="1.0"?>
<launch>
  
  <node pkg="tf" type="static_transform_publisher" name="link_sphere_broadcaster" args="0 0 0 0 0 0 world odomsphere 100" />


<node pkg="voxblox_ros" type="sphere_node" name="SphereNode0" args="$(find voxblox_ros)/cfg/sphere.yaml" output="screen">
</node>

</launch>
