<launch>
  <arg name="play_bag" default="true" />
  <arg name="bag_file" default="/media/yuepan/SeagateNew/1_data/thesis_dataset/cow_lady_dataset.bag"/>

  <!-- Download the dataset here: https://projects.asl.ethz.ch/datasets/doku.php?id=iros2017 -->
  <node name="player" pkg="rosbag" type="play" output="screen" args="-r 1.0 --clock $(arg bag_file)" if="$(arg play_bag)"/>

  <!-- /camera/depth_registered/points in camera_rgb_optical_frame -->

  <node name="voxblox_node" pkg="voxblox_ros" type="esdf_server" output="screen" args="-alsologtostderr" clear_params="true">
    <remap from="pointcloud" to="/camera/depth_registered/points"/>
    <remap from="transform" to="/kinect/vrpn_client/estimated_transform" />
    <rosparam file="$(find voxblox_ros)/cfg/cow_and_lady.yaml"/>
    <rosparam file="$(find voxblox_ros)/cfg/cow_param.yaml"/>
    <param name="mesh_filename" value="/media/yuepan/SeagateNew/1_data/thesis_dataset/Voxblox_out/$(anon cow).ply" />
    <!-- Use the service: rosservice call /voxblox_node/generate_mesh to save the mesh-->
    <!-- Use the service: rosservice call /voxblox_node/save_map xxx.vxblx to save the tsdf map-->
    <!-- Use the service: rosservice call /voxblox_node/save_esdf_map xxx.vxblx to save the esdf map-->
  </node>

  <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find voxblox_ros)/cfg/rviz/cow_5cm.rviz" />

</launch>